@import "_config.scss";

footer {
	color: $white;
	background: -webkit-linear-gradient(0deg, #5b86e5 0%, #36d1dc 100%);	
	display: block;
	font-family: 'Varela', sans-serif;
	position: relative;


	.pad_40 {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	a {
		color: $white;
	}


	.footer_content {
		position: absolute;
		font-size: 20px;
	}

	.footer_links {
		text-align: right;	
	}

	ul {
		margin: 0;
		padding: 0;
	}

	.footer_links .social_media li {
		display: inline-block;
		margin-right: 15px;
		margin-top: 3px; 

		&.last {
			margin: 0;
		}
	}

	.footer_links .social_media li a {
		line-height: 20px;
		width: 20px;
		display: inline-block;
		font-size: 20px;

	}

	.list {
		list-style: none;
	}

}