@import "_config.scss";

header {
	position: relative;
	display: block;
	width: 100%;
	background: -webkit-linear-gradient(0deg, #5b86e5 0%, #36d1dc 100%);
	color: $white;
	height: 98px;
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Varela', sans-serif;

	.headerName {
		position: absolute;
		top: 50%; left: 30px;
		@include translateY(-50%);

		a {
			font-size: 22px;
			line-height: normal; 
			color: $white;
			text-transform: uppercase;
		}
	}

	nav,
	nav ul,
	nav ul li {
		margin: 0;
		padding: 0;
	}

	nav {
		position: absolute;
		top: 50%; right: 30px;
		@include translateY(-50%);

		ul li {
			list-style-type: none;
			display: inline-block;
			margin-right: 20px;

			&.last {
				margin: 0;
			}

			a {
				font-size: 14px;
				line-height: normal; 
				color: $white;
				text-transform: uppercase;
			}
		}
	}
}

