@import "_config.scss";

home_body {

	@media (max-width: 1199px) {
		.homepage_area {
			min-height: 728px;
			margin-bottom: 120px;
		}

		.homepage_area .homepage_box {
			bottom: -130px;
		}

		.homepage_area .inner_banner {
			min-height: 650px;
		}

		.homepage_area .box_content {
			max-width: 500px;
			margin: auto;
		}

		.box_content .media {
			display: block;
		}

		.homepage_area .inner_banner .box_content .media .d-flex {
			padding-right: 0;
			width: 100%;
		}

		.homepage_area .inner_banner .box_content .media .d-flex img {
			width: 100%;
			height: 100%;
		}

		.homepage_area .inner_banner .box_content .media .media-body {
			margin-top: 30px;
		}
	}

	@media (max-width: 767px) {
		.homepage_area {
			min-height: 570px;
			margin-bottom: 120px;
		}

		.homepage_area .homepage_box {
			min-height: 500px;
		}

		.homepage_area .inner_banner {
			min-height: 500px;
		}

		.homepage_area .inner_banner .box_content {
			margin-top: 0;
		}

		.homepage_area .inner_banner .box_content h2 {
			font-size: 40px;
			line-height: 55px;
		}

	}

	@media (max-width: 575px) {
		.homepage_area {
			min-height: 570px;
			margin-bottom: 71px;
		}

		.homepage_area .homepage_box {
			bottom: -71px;
			border-radius: 0;
		}

		.homepage_area .inner_banner {
			min-height: 500px;
		}

		.p_100 {
			padding-top: 70px;
		}
	}

	@media (max-width: 480px) {
		.homepage_area .inner_banner .box_content {
			padding: 30px 15px;
			margin-top: 0;
		}
	}
}
